.modal-container {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.7);
  display: flex;
  justify-content: center;
  align-items: center;
}

.card {
  background: #f6f6f6;
  padding: 2rem;
  border-radius: 0.5rem;
  position: relative;
}

.close-area {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.close-area h2 {
  margin: 0 0 1rem 0;
  padding: 0;
  color: var(--background-dark-color);
}

.close-area img {
  position: absolute;
  top: 0.5rem;
  right: 0.8rem;
  width: 1.5rem;
  height: 1.5rem;
  object-fit: contain;
  cursor: pointer;
}
