.header-container {
  display: flex;
  align-items: center;
  justify-content: space-around;
  background-color: var(--background-dark-color);
  height: 5rem;
}

.title-container h1 {
  font-size: 1.8rem;
}
